@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
    --primary: rgba(254, 30, 110, 0.8);
    --primary-icon: rgb(231, 21, 95);
    --primary-hover: rgba(254, 44, 50, 0.9);
    --text-color: #333;
    --search-width: 361px;
    --font-family: 'ProximaNova', sans-serif;

    // default layout
    --default-layout-header-height: 60px;
    --default-layout-contain-width: 1150px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: var(--font-family);
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
    color: var(--text-color);
    overflow-y: overlay;

    .tippy-box {
        border-radius: 8px;
        line-height: 2.2rem;
        background-color: rgba(84, 84, 84, 0.92);
    }

    .tippy-arrow {
        color: rgba(84, 84, 84, 0.92);
        top: -1px !important;
    }
}

// scrollbar
html *::-webkit-scrollbar {
    border-radius: 0;
    width: 8px;
}
html *::-webkit-scrollbar {
    border-radius: 0;
    width: 8px;
}
html *::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.15);
}
html *::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.15);
}
html *::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0);
}
html *::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0);
}

button,
input,
[tabindex] {
    outline: none;
}

button {
    background-color: transparent;
    border-color: transparent;
}

a[href] {
    color: var(--text-color);
    text-decoration: none;
}
