// menu
.content {
    width: 200px;
}

.menu-body {
    overflow-y: auto;
}

.separate {
    border-top: 1px solid rgba(0, 0, 0, 0.28);
}

// Header
.header {
    position: relative;
    display: flex;
    margin-top: -4px;
    padding-top: 25px;
    padding-bottom: 25px;
    height: 40px;
    justify-content: center;
    align-items: center;
}

.back-btn {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2rem;
    padding: 0 20px;
    background-color: transparent;
    border-color: transparent;
    cursor: pointer;
}
