.wrapper {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: -2px;
    left: 0;
    width: 100%;
    padding-top: 4px;
    padding-bottom: 4px;
    max-height: 75vh;
    background: rgb(255, 255, 255);
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 12px;
}
