.wrapper {
    display: flex;
    justify-content: center;
}

.container {
    margin-top: var(--default-layout-header-height);
    width: var(--default-layout-contain-width);
    background-color: #444;
    height: 200vh;
    display: flex;
}

.content {
    flex: 1;
}
