.wrapper {
    --input-border-radius: 92px;
    --search-button-width: 54px;

    height: var(--default-layout-header-height);
    width: 100%;
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.inner {
    height: 100%;
    width: var(--default-layout-contain-width);
    padding: 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
}

.search-result {
    width: var(--search-width);
    margin-top: 10px;

    .accounts {
        font-size: 1.5rem;
        margin-left: 10px;
        color: rgba(0, 0, 0, 0.4);
    }
}

.search {
    position: relative;
    width: var(--search-width);
    height: 46px;
    padding-left: 16px;
    background-color: rgba(22, 24, 35, 0.06);
    display: flex;
    align-items: center;
    border-radius: var(--input-border-radius);
    border: 2px solid transparent;
    overflow: hidden;

    input {
        flex: 1;
        height: 100%;
        border: none;
        background-color: transparent;
        font-size: 1.6rem;
        letter-spacing: 1px;
        caret-color: var(--primary);
    }

    input:not(:placeholder-shown) ~ .search-btn {
        color: rgba(25, 24, 35, 0.75);
    }

    &:focus-within {
        border-color: rgba(0, 0, 0, 0.2);
    }
}

.clear,
.loading {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    right: calc(var(--search-button-width) + 16px);
    width: 16px;
    height: 16px;
    color: rgba(0, 0, 0, 0.2);
}

.search-btn {
    position: absolute;
    right: 0;
    height: 100%;
    width: var(--search-button-width);
    border: none;
    outline: none;
    cursor: pointer;
    background-color: transparent;
    font-size: 2rem;
    color: rgba(0, 0, 0, 0.2);

    &::after {
        content: '';
        height: 60%;
        width: 1px;
        background-color: rgba(0, 0, 0, 0.5);
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
    }

    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
    }

    &:active {
        background-color: rgba(22, 24, 35, 0.06);
    }
}

.actions {
    display: flex;
}

.more-btn {
    font-size: 1.8rem;
    margin-left: 14px;
    padding: 0 8px;
    cursor: pointer;
    background-color: transparent;
    border-color: transparent;
}
