.wrapper {
    --input-border-radius: 92px;
    --search-button-width: 54px;

    height: var(--default-layout-header-height);
    width: 100%;
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.inner {
    height: 100%;
    width: var(--default-layout-contain-width);
    padding: 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
}

.actions {
    display: flex;
    align-items: center;
}

.cover-btn {
    display: flex;
    align-items: center;
    height: 30px;
    margin-left: 20px;
    .active-btn {
        background-color: transparent;
        cursor: pointer;
    }
}

.message {
    position: relative;
    margin-left: 10px;
    &::before {
        content: '20';
        padding: 2px 5px;
        position: absolute;
        font-size: 1.1rem;
        top: -20%;
        right: -5px;
        color: #fff;
        font-weight: bolder;
        border-radius: 99999px;
        background-color: var(--primary-icon);
    }
}

.user-avatar {
    height: 32px;
    width: 32px;
    border-radius: 100%;
    margin-left: 20px;
    cursor: pointer;
}

.more-btn {
    font-size: 1.8rem;
    margin-left: 14px;
    padding: 0 8px;
    cursor: pointer;
    background-color: transparent;
    border-color: transparent;
}
